.app-container{
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column; 
            
}
.welcome-message{
    color:rgb(120, 120, 120);
    text-align: center;
}